*{
    font-family: Arial;
}

body{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    width:990px;
    
    
}
.logo{
      
      display: flex;
      align-items: center;
      
      
}
.menu{

    
    display: flex;
    align-items: center;

}
nav ul, nav li{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    
    
}
nav .ativo a, nav a:hover{
    background-color: #3288ad;
    color: white;
}
#banner{
    display: flex;
    justify-content: center;
    background-image:url('../imagens/banner.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.coluna{
    flex-direction: column;
}
.banner1{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner1 h1{
    color: #fbb240;
    font-size: 70px;
    text-shadow: 0px 1px 0px black;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
}
.banner1 h2{
    color: #ffffff;
    font-size: 24px;
    text-shadow: 0px 1px 0px black;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
    margin-top: 30px;
}
.banner2{
    height: 210px;
    display: flex;
    
}
.opcao1,.opcao2,.opcao3{
    flex: 1;
    color: white;
    padding: 20px;
    
}
.opcao1{
    background-color: #c95823;
}
.opcao2{
    background-color: #fbb240;
}
.opcao3{
    background-color: #c95823;
}
.opcao_titulo{
    font-size: 25px;
    
    
}
.descricao{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    font-weight: bolder;
}
.opcao1,.opcao2, .opcao3, a{
    display: inline-block;
   
    padding: 5px;
    color: white;
    font-size: 13px;
    text-decoration: none;
    
    

}
#geral{
    display: flex;
    justify-content: center;
}
#geral section{
    flex: 2;
}
#geral aside{
    flex: 1;
}

.widget_titulo{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_titulo_texto{
    color: black;
    font-size: 21px;
    font-weight: bold;
    
}
.widget_titulo_barra{
    width: 50px;
    height: 3px;
    background-color: #1c82aa;
    margin-top: 10px;
}
.opcao1 a, .opcao2 a, .opcao3 a{
    background-color:#e29705;
}
.flex{
display: flex;
flex-wrap: wrap;
}
article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
    
}
article a{
text-decoration: none;
}
article .noticia_data{
    display: flex;
}
article .data_de_postagem{
    background-color: #c95823;
    color: white;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
    
}
article .quantidade_comentarios{
    background-color: #fbb240;
    color: white;
    font-size: 12px;
    padding: 10px;
    
}
article .imagem_miniatura{
    margin-top: 30px;
}
article .imagem_miniatura img{
    width: 100%;
    height: auto;
}
article .titulo_da_noticia{
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    font-size: 25px;
}
article .resumo_da_noticia{
    color: black;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}



.rodape_menu{
    display: flex;

    width: 100%;
}
.banner_titulo{
font-size: 25px;
margin-bottom: 20px;
}
.banner_descricao{
font-size: 12px;
}


footer{
    background-color: #005a84;
    display: flex;
    justify-content: center;
}
.footer_menu{
    display: flex;
    flex:1;
}
.fm_1, .fm_2, .fm_3{
    flex: 1;
    color: #fff;
    padding: 20px;  
}
.fm_1{
    background-color: #c95823;
}
.fm_2{
    background-color: #fbb240;
}
.fm_3{
    background-color: #c95823;
}
.footer_area{
    display: flex;
}
.footer_areaitem{
    flex: 1;
    color:#fff;
}
footer .widget_title_text{
    color: #fff;
    margin-top: 10px;
}
.footer_copy{
    display: flex;
    justify-content: space-between;
    height: 40px;
    border-top: 1px solid #2c2c2c;
    font-size: 12px;
    line-height: 40px;
    margin-top: 30px;
    color: #FFF;
}
.copy{
    flex: 1;
    text-align: left;
}

.footer_menu a {
    display: block;
    text-decoration: none;
    color: #FFF;
}
.footer_menu a{
    font-size: 20px;
}
.footer_menu p{
    font-size: 12px;
    margin-top: 10px;
}
.widget_body_footer{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: white;
}
.footer_contact{
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
}
.footer_address{
    flex: 1;
}
.footer_number{
    flex: 1;
}
.social_network{
    margin-top: 20px;
}
.social_network img{
    width: 20px;
    margin-right: 5px;
}
.footer_area p{
    line-height: 18px;
}
.time_posts{
    font-size: 11px;
    color: white;
}
span{
    color: white;
}
span a{
    text-decoration: none;
    color: black;
}
